{
  "extends": ["plugin:astro/recommended", "plugin:astro/jsx-a11y-recommended", "standard-with-typescript", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": "__dirname",
    "sourceType": "module",
    "ecmaVersion": "latest",
    "project": ["./tsconfig.json"]
  },
  "overrides": [
    // Configuration for astro files
    {
      "files": ["*.astro"],
      // Allows Astro components to be parsed.
      "parser": "astro-eslint-parser",
      // Parse the script in `.astro` as TypeScript
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        // override/add rules settings here, such as:
        // "astro/no-set-html-directive": "error"
      }
    }
  ]
}